li {
    display: inline-block;
    border-right: 1px solid black;
    font-size: 28px;
    padding: 0 10px;
}

p {
    padding-left: 50px;
    padding-top: 30px;
    font-size: 20px;
    color: #ee3555;
}

#contact_content {
    display: none;
}

#about_content {
    display: none;
}

.active {
    border-bottom: 1px dashed red;
}
